{% extends "base.html" %}
{% block title %}Sign Up Page{% endblock %}
{% block content %}
    <div class="image-container">
        <img src="./static/index.jpeg" alt="login-image">
        <div class="overlay"></div>
        <div class="image-text">All your real estate needs in one place. </div>
    </div>
    <div class="welcome-text"> Welcome to<br>ZeroRealEstate</div>
    <form action = "/sign-up" method = "POST" class="create-acc-form-container" id="signupForm" onsubmit="return validatePasswords()&& validateNewUser()">
        <div class="create-acc">Create An Account</div>
        <div class="new-acc">Enter your desired login email and password <br> to get started with us!</div>
        <input id="nemail" name="email" type="email" placeholder="Email Address" required>
        <input id="npassword" name="password" type="password" placeholder="Password" required>
        <input id="npassword_re" name="password_re" type="password" placeholder="Re-enter password" required>
        <div id="exsistingEmail" class="error-message"></div>
        <div id="passwordMismatch" class="error-message"></div>
        <button class="button" type="submit"><span>Create Account</span></button>
        <span class="login">
            <div class="newUser">Already have An Account? <a href="/login">Sign In</a></div>
        </span>        
    </form>
{% endblock %}

