body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.image-container {
    position: relative;
    width: 50vw;
    height: 110vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-text {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 29px;
    text-align: center;
}

.welcome-text {
    position: absolute;
    top: 20%; 
    left: 75%; 
    transform: translate(-50%); 
    color: black; 
    font-size: 40px; 
    font-weight: bold; 
    text-align: center; 
}

.login-text-small {
    padding-top: 20px;
    position: absolute;
    top: 35%; 
    left: 74.5%; 
    transform: translate(-50%); 
    color: black; 
    font-size: 13px; 
    text-align: center; 
}

.login-form-container {
    padding-top: 80px;
    position: absolute;
    top: 60%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
}

.login-form {
    text-align: left; 
}

.login-form label,
.login-form input {
    display: block; 
    margin-bottom: 10px; 
    font-size: 13px;
}

.login-form label[for="cemail"],
.login-form label[for="cpassword"] {
    font-weight: bold; 
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 300px;
    height: 20px;
    padding: 5px;
    font-size: 13px; 
    border-radius: 10px;
    border-style: solid;
}

.login-form button {
    display: block;
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 20px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.align-text{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.align-text input[type="checkbox"] {
    margin-right: 5px;
}

.ResetPW {
    padding-left: 50px;
    font-size: 13px;
    margin-top: -10px;
}

.ResetPW a {
    text-decoration: none; 
    color: black; 
    font-weight: bold;
    font-size: 13px;
}

.ResetPW a:hover {
    text-decoration: underline;
}

.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.newUser {
    font-size: 13px;
}

.newUser a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
}

.newUser a:hover {
    text-decoration: underline;
}

.password-input-container {
    position: relative;
}

.toggle-password-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.create-acc-form-container {
    position: absolute;
    top: 36%; 
    left: 75%; 
    transform: translate(-50%); 
    color: black; 
    font-size: 30px; 
    font-weight: normal;
    text-align: center; 
    border: 2px outset whitesmoke;
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.create-acc {
    color: black; 
    font-size: 31px; 
    font-weight: normal;
    text-align: center; 
}

.new-acc {
    padding-top: 10px;
    color: black; 
    font-size: 13px; 
    text-align: center;
    padding-bottom: 10px; 
}

.create-acc-form-container input[type="email"],
.create-acc-form-container input[type="password"] {
    width: 300px;
    height: 20px;
    padding: 5px;
    font-size: 13px; 
    border-radius: 10px;
    border-style: solid;
}

.create-acc-form-container button {
    font-size: 20px;
    display: block;
    background-color: black;
    color: white;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    margin: 30px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.error-message {
    color: red;
    font-size: 13px;
    position: absolute;
    font-weight: bold;
}

#passwordMismatch {
    margin-top: 5px;
    padding-left: 20%;
}

#exsistingEmail {
    margin-top: 135px;
}

#infoMismatch {
    margin-top: 5px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 250px;
    padding: 20px;
}

.nav-logo {
    color: white;
    margin: 20px;
    font-size: 30px;
    padding-bottom: 20px;
}
.admin-main {
    padding-left: 200px;
    margin: 200px;
    text-align: center; 
    font-size: 50px;
    font-weight: bold;
    color: #818181;
    opacity: 0.8;
}

.user-account-option{
    color: #818181;
    padding-left: 90px;
    text-align: center; 
    font-size: 25px;
    font-weight: normal;
    margin-top: -90px;
}

.user-account-title{
    color: #111;
    font-weight: bold;
}


.sidenav a.selected {
    background-color: #333;
    color: #fff;
}

.user-account-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-account-buttons button {
    margin-bottom: 10px;
    font-size: 18px;
    width: 500px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-account-buttons button:hover {
    background-color: grey;
}

.create-acc-admin {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Align items to the center horizontally */
    margin-top: 50px; /* Adjust top margin */
    text-align: center;
}

.admin-action-title {
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

.create-acc-admin input,
.create-acc-admin select,
.update-acc-admin select,
.delete-acc-admin select,
.search-acc-admin input {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    border: #111;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box; 
}

label[for="role"] {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}


/* jiro's css */

.navbar {
    position: fixed;
    top: 7;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    font-weight: 700;
}

.navbar a {
    margin-top: 1.1%;
    color: black;
    float: right;
    display: block;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

.navbar a.title {
    padding-left: 45px;
    position: absolute;
    margin-top:5px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.navbar button {
    font-size: 13px;
    margin: 1px;
    background-color:black; /* Green background */
    color: white; /* White text */
    padding: 15px 30px; /* Padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
}

.navbar a.active {
    margin-top:-5px;
    color: black;
}

/* Style for the photo */
.photo {
    margin-top: 75px; /* Adjust according to navbar height */
    width: 100%;
    height: calc(100vh - 60px); /* Subtract navbar height from viewport height */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5; /* Adjust opacity as needed */
}

.photo .text {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 46px;
    font-weight: bold;
    opacity: 1.0; /* Fully opaque */
    color: black; /* Text color */
}

.columns {
    background-color: white;
    position: absolute;
    top: 61%; /* Adjust vertically */
    left: 50%; /* Adjust horizontally */
    transform: translate(-50%, -50%);
    display: grid; /* Use grid layout */
    grid-template-columns: 1fr 1fr 2fr; /* Adjust column widths */
    grid-column-gap: 20px; /* Add gap between columns */
    align-items: center; /* Align items vertically */
    height: 12%;
    width: 40%;
    border-radius: 10px; /* Curved border */
    padding: 7px; /* Add padding */
}

.textabovecolumn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 550;
    opacity: 100;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.textabovecolumn a {
    color: black; /* Change the color to black */
    text-decoration: none; /* Remove underline */
    margin: 0px 30px; /* Add some margin for spacing */
}


.column p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 5%; /* Remove default margin */
    color: black; /* Text color */
}

.column select {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.column input[type="text"] {
    width: 150px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #353434;
    background-color: rgb(220, 219, 219);
    box-sizing: border-box;
}

.column button {
    margin-top: 12%;
    margin-left: 11%;
    background-color:black; /* Green background */
    color: white; /* White text */
    padding: 10px 30px; /* Padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
}

.align {
    position: relative;
    margin-left: 5%;
}

.column button:hover {
    background-color:grey; /* Darker green */
}

.no-scroll {
    overflow: hidden;
}

/* Ally's css */
