body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.image-container {
    position: relative;
    width: 50vw;
    height: 110vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-text {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 29px;
    text-align: center;
}

.welcome-text {
    position: absolute;
    top: 20%; 
    left: 75%; 
    transform: translate(-50%); 
    color: black; 
    font-size: 40px; 
    font-weight: bold; 
    text-align: center; 
}

.login-text-small {
    padding-top: 20px;
    position: absolute;
    top: 40%; 
    left: 74.5%; 
    transform: translate(-50%); 
    color: black; 
    font-size: 13px; 
    text-align: center; 
}

.login-form-container {
    padding-top: 80px;
    position: absolute;
    top: 60%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
}

.login-form {
    text-align: left; 
}

.login-form label,
.login-form input {
    display: block; 
    margin-bottom: 10px; 
    font-size: 13px;
}

.login-form label[for="cemail"],
.login-form label[for="cpassword"] {
    font-weight: bold; 
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 300px;
    height: 20px;
    padding: 5px;
    font-size: 13px; 
    border-radius: 10px;
    border-style: solid;
}

.login-form button {
    display: block;
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 20px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.align-text{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.align-text input[type="checkbox"] {
    margin-right: 5px;
}

.ResetPW {
    padding-left: 50px;
    font-size: 13px;
    margin-top: -10px;
}

.ResetPW a {
    text-decoration: none; 
    color: black; 
    font-weight: bold;
    font-size: 13px;
}

.ResetPW a:hover {
    text-decoration: underline;
}

.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.newUser {
    font-size: 13px;
}

.newUser a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
}

.newUser a:hover {
    text-decoration: underline;
}

.password-input-container {
    position: relative;
}

.toggle-password-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.create-acc-form-container {
    position: absolute;
    top: 36%; 
    left: 75%; 
    transform: translate(-50%); 
    color: black; 
    font-size: 30px; 
    font-weight: normal;
    text-align: center; 
    border: 2px outset whitesmoke; /* Border style */
    border-radius: 20px; /* Rounded corners */
    padding: 20px; /* Padding around the container */
    max-width: 400px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
}

.create-acc {
    color: black; 
    font-size: 31px; 
    font-weight: normal;
    text-align: center; 
}

.new-acc {
    padding-top: 10px;
    color: black; 
    font-size: 13px; 
    text-align: center;
    padding-bottom: 10px; 
}

.create-acc-form-container input[type="email"],
.create-acc-form-container input[type="password"] {
    width: 300px;
    height: 20px;
    padding: 5px;
    font-size: 13px; 
    border-radius: 10px;
    border-style: solid;
}

.create-acc-form-container button {
    font-size: 20px;
    display: block;
    background-color: black;
    color: white;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    margin: 30px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}
