{% extends "baseAdmin.html" %}


{% block style %}
.update-acc-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-action-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.update-acc-admin input,
.update-acc-admin select {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
}

.update-acc-admin label p {
    color: #111;
    margin: 5px;
    font-size: 20px;
    font-weight: normal;
}

.button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: lightgray;
    border: 1px solid gray;
}

table {
    position: absolute;
    margin-top: 10px;
    color: black;
    font-size: 15px;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid black;
}

th {
    text-align: center;
    background-color: lightgrey;
}

td {
    text-align: left;
    border: 1px solid black;
}

th {
    background-color: #f2f2f2;
}

.delete-message{
    color: red;
    font-size: 13px;
    font-weight: bold;
}


{% endblock style %}



{% block content %}
<form class="update-acc-admin" id="adminUpdateForm" action="/updateUserProfile" method="post">
    <div class="admin-action-title"><u><b>Update User Profile</b></u></div>
    <label for="Action">
        <p>Email:</p>
    </label>
    <input id="email" name="email" type="email" placeholder="Enter User Email wanted to update" required>
    <label for="Action">
        <p>Field to Update</p>
    </label>
    <select id="field" name="field">
        <option value="name">Name</option>
        <option value="status">Status</option>
        <option value="description">Description</option>
    </select>
    <label for="Value">
        <p>Update Value</p>
    </label>
    <input id="value" name="value" type="text" placeholder="Enter value to update" required>
    
    <button class="button" type="submit">Update</button>
</form>
    {% if updateUser %}
    <div id="searchResults" class="details-container">
    <table>
        <thead>
            <tr>
               
                <th>Name</th>
                <th>Status</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ updateUser.name }}</td>
                <td>{{ updateUser.status }}</td>
                <td>{{ updateUser.description }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    {% else %}
    {% if updateUser is none %}
    <!-- <p style="color:red">{{message}}</p> -->
    <p class="delete-message" style="color: red;font-size: 13px;font-weight: bold;">{{message}}</p>
        {% else %}
            <h1></h1>
        {% endif %}
    {% endif %}
    
{% endblock %}
