{% extends "baseAdmin.html" %}

{% block style %}
.button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: lightgray;
    border: 1px solid gray;
}

.delete-acc-admin {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.delete-acc-admin input,
.delete-acc-admin select {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
}

.delete-acc-admin p {
    margin-bottom: 10px;
    font-size: 15px;
    color: black;
}

.delete-message{
    color: red;
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
}

{% endblock style %}

{% block content %}
<form class="delete-acc-admin" id="adminDeleteForm" method="post" action="/suspendUserProfile">
    <div class="admin-action-title"><u><b>Suspend User Profile</b></u></div>
    <p>Enter the Email to Suspend:</p>
    <input id="email" name="email" type="email" placeholder="Email Address" required>
    <p>Re-type Email:</p>
    <input id="email_re" name="email_re" type="email" placeholder="Re-enter Email Address" required>
    <button class="button" type="submit">Suspend</button>

    <div class="delete-message">{{msg}}</div>

</form>
{% endblock %}
