<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Admin Create User Account</title>
</head>
<body>
    <h1>This is {{email}}</h1>
    <br>
    <!-- Flash message block -->
    {% with messages = get_flashed_messages(with_categories=true) %}        
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-{{ category }}"><p>{{ message }}</p></div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>

    <h2>Create User</h2>
    <form action="/createUserAccount" method="POST">

        <input type="text" name="email" id="email" class="input-field" placeholder="Email">
        <span id="error_username" class="error"></span> <!-- Display error for Username -->
        <br><br>
        <input type="password" name="password" id="password" class="input-field" placeholder="Password">
        <span id="error_password" class="error"></span> <!-- Display error for Password -->
        <br><br>
        <label for="role">Choose a role:</label>
        <select id="role" name="role">
            <option value="rea">Real Estate Agent</option>
            <option value="buyer">Buyer</option>
            <option value="seller">Seller</option>
        </select>
        <br><br>
        <button type="submit">Create account</button>
        <br><br>
    </form>

    <h2>Delete User</h2>
    <form action="/deleteUserAccount" method="POST">

        <input type="text" name="email" id="email" class="input-field" placeholder="Enter user email">
        <br><br>
        <button type="submit">Delete account</button>
    </form>

    <br><br>

    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

</body>
</html>