{% extends "baseAdmin.html" %}


{% block style %}
.update-acc-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-action-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.update-acc-admin input,
.update-acc-admin select {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
}

.update-acc-admin label p {
    color: #111;
    margin: 5px;
    font-size: 20px;
    font-weight: normal;
}

.button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: lightgray;
    border: 1px solid gray;
}


{% endblock style %}



{% block content %}
<form class="update-acc-admin" id="adminUpdateForm" action="/updateUserProfile" method="post">
    <div class="admin-action-title"><u><b>Update User Profile</b></u></div>
    <label for="Action">
        <p>Email:</p>
    </label>
    <select id="nemail" name="email" required>
        {% for user in users %}
            <option value="{{ user['email'] }}">{{ user['email'] }}</option>
        {% endfor %}
    </select>
    <label for="Action">
        <p>Field to Update</p>
    </label>
    <select id="field" name="field">
        <option value="name">Name</option>
        <option value="status">Status</option>
        <option value="description">Description</option>
    </select>
    <label for="Value">
        <p>Update Value</p>
    </label>
    <input id="value" name="value" type="text" placeholder="Enter value to update" required>
    <div id="exsistingEmail" class="error-message">{{message}}</div>
    <button class="button" type="submit">Update</button>
</form>
    {% if updateUser %}
    <h1>User profile updated</h1>
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Status</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ updateUser.email }}</td>
                <td>{{ updateUser.profile.name }}</td>
                <td>{{ updateUser.profile.status }}</td>
                <td>{{ updateUser.profile.description }}</td>
            </tr>
        </tbody>
    </table>
    {% else %}
    {% if updateUser is none %}
            <h1>No user found with the provided email.</h1>
        {% else %}
            <h1></h1>
        {% endif %}
    {% endif %}
    <!-- error message here -->
    {% with messages = get_flashed_messages() %}        
        {% if messages %}
            {% for msg in messages %}
            <div id="exsistingEmail" class="error-message">{{msg}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
