{% extends "baseUserDashboard.html" %}

{% block style %}

.para {
    margin-top: 15%; /* Adjust the margin-top value */
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5%;
}

.column {
    flex: 0 0 20%;
    background-color: rgb(240, 239, 239);
    padding: 30px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px; /* Adjust the value to control the curvature */
    border: none; /* Add this line to remove the border */
    margin-top: 0;
}

.column img {
    max-width: 30%;
    height: auto;
    margin-bottom: 10px;
}

.column h4 {
    margin: 0;
    margin-bottom: 10px;
}


button[class="column"]:hover {
    background-color: white;
}

{% endblock style %}



{% block content %}

<div class="para">
    <p>Buyer</p>
</div>

<div class="container">
    <button class="column" onclick="location.href='/viewAllPropertyListing'">
        <img src="{{ url_for('static', filename='buyer.png')}}" alt="Image">
        <h4>View All Listing</h4>
    </button>

    <button class="column" onclick="window.location.href='/buyerFavouriteNewPropertyListing'">
        <img src="{{ url_for('static', filename='search.png')}}" alt="Image">
        <h4>View Favourite New Property Listing</h4>
    </button>

    <button class="column" onclick="window.location.href='/buyerFavouriteSoldPropertyListing'">
        <img src="{{ url_for('static', filename='search.png')}}" alt="Image">
        <h4>View Favourite Sold Property Listing</h4>
    </button>

    <button class="column" onclick="window.location.href='buyerSearch.html'">
        <img src="{{ url_for('static', filename='search.png')}}" alt="Image">
        <h4>Search Property Listing</h4>
    </button>

    <button class="column" onclick="window.location.href='buyerSearch.html'">
        <img src="{{ url_for('static', filename='search.png')}}" alt="Image">
        <h4>Submit Feedback</h4>
    </button>

</div>

{% endblock content %}