<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Admin Panel</h1>
    <p>This is the home page of the admin panel.</p>
    <ul>
        <li><a href="/viewUserProfile">View Users</a></li>
        <li><a href="/createUserProfilePage">Create New User Profile</a></li>
        <li><a href="/updateUserProfilePage">update Users Profile</a></li>
        <li><a href="/deleteUserProfilePage">delete User Profile</a></li>
        <li><a href="/searchUserProfilePage">search User Profile</a></li>
    </ul>
</body>
</html>
