listings{% extends "baseUserDashboard.html" %}

{% block style %}

.agent-main {
    position: absolute;
    margin: 50px;
}

.agent-main p {
    font-size: 45px;
}

.profile-nav {
    font-size: 15px;
    margin-top: -20px;
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    /* Add shadow */
    max-width: fit-content;
}

.Pnav-item {
    font-weight: bold;
    padding: 10px 25px;
    cursor: pointer;
    width: 120px;
    text-align: center;
}

.Pnav-item.active {
    font-weight: normal;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.hidden {
    display: contents;
    
}

.listing-cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* Start from left */
}

.listing-card {
    margin: 20px;
    width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    /* Add shadow */
}

.listing-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.listing-info .location-text {
    padding: 20px;
    font-size: 12px;
    /* Adjust the font size as desired */
}

.listing-info h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: darkred;
}

.agent-body {
    margin: auto;
    
}

.title-delete{
    margin-top: 50px;
}

#listings{
    flex-wrap: wrap;
}
{% endblock style %}



{% block content %}

<div class="agent-main">
    <!-- Listing Section -->
    <div class="agent-body">
        <div id="listings" class="hidden">
            <h2 class="title-delete">Your Listings</h2>
            <div class="listing-cards">
                <div class="listing-card">
                    <img src="image1.jpg" alt="Listing 1">
                    <div class="listing-info">
                        <h3>The Vision</h3>
                        <h4 style="color: darkgreen;">$1,188,888</h4>
                        <p class="location-text" style="color: grey;">88 Reindeer Drive
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8mins</p>
                    </div>
                    <button class="delete-btn" onclick="deleteListing(this)">Delete</button>
                </div>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}        
            {% if messages %}
                {% for msg in messages %}
                    <div id="exsistingEmail" class="error-message">{{msg}}</div>
                {% endfor %}
            {% endif %}
    {% endwith %}
</div>

{% endblock content %}
