{% extends "baseUserdashboard.html" %}

{% block style %}
.agent-main {
    position: absolute;
    margin: 50px;
}

.navbar {
    z-index: 10;
    width: 100%;
    top: 0;
    background-color: white;
}

.buyer-main {
    position: fixed;
    margin-top: 60px;
    z-index: 10;
    width: 100%;
    top: 0;
    padding-left: 45px;
    background-color: white;
}

.buyer-main p {
    font-size: 45px;
}

.profile-nav {
    font-size: 15px;
    margin-top: -20px;
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    max-width: fit-content;
    background-color: white;
}

.Pnav-item {
    font-weight: bold;
    padding: 10px 25px;
    cursor: pointer;
    width: 150px;
    text-align: center;
}

.Pnav-item.active {
    font-weight: normal;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.hidden {
    display: contents;
}

.buyer-body {
    display: flex;
    padding-left: 50px;
    align-items: left;
    flex-direction: column;
    padding-top: 250px;
    overflow-y: auto;
    max-height: calc(100vh - 250px);
    z-index: 1;
}

.listing-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.listing-card {
    position: relative;
    margin: 20px;
    width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.listing-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.listing-info .location-text {
    padding: 20px;
    font-size: 12px;
}

.listing-info h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.listing-bedrooms,
.listing-bathrooms {
display: flex;
align-items: center;
}

.listing-bedrooms img,
.listing-bathrooms img {
width: 50px; /* Adjust the width as needed */
height: auto; /* Maintain aspect ratio */
}

.title-delete{
    margin-top: 50px;
}

{% endblock style %}

{% block content %}
<div class="agent-main">
    <!-- Listing Section -->
    <div class="agent-body">
        <div id="listings" class="hidden">
            <h2 class="title-delete">Your Feedback</h2>
            <div class="listing-cards">
                {% for feedback in  feedback_listing %}
                <div class="listing-card" >
                    <div class="listing-info">
                        <h3>Sender name: {{feedback["sender_name"]}}</h3>
                        <h3>Rating: {{feedback["rating_value"]}}</h3>
                        <h3>Review: {{feedback["review_text"]}}</h3>
                    </div>
                </div>
                <!-- Add more listing cards here -->
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Messages Section -->
    <div id="messages">
        <p>{{message}}</p>
    </div>

</div>
{% endblock content %}
