{% extends "baseUserDashboard.html" %}

{% block style %}

.agent-main{
    position: absolute;
    margin: 50px;
}

.agent-main p {
    font-size: 45px;
}


.profile-nav {
    font-size: 15px;
    margin-top: -20px;
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); /* Add shadow */
    max-width: fit-content;
}

.Pnav-item {
    font-weight: bold;
    padding: 10px 25px;
    cursor: pointer;
    width: 120px;
    text-align: center;
}

.Pnav-item.active {
    font-weight: normal;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.hidden {
    display: block;
    position: absolute;
    margin-top: 8%;
    margin-left: 50%; 
}

#listings {
    left: 50%;
    position: relative;
    width: 550px; /* Adjust the width as needed */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
select,
input[type="file"] {
    width: calc(100% - 16px); /* Adjusted width to accommodate border and padding */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color:black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: grey;
}

.logout img {
    margin: -15px;
    width: 50px;
    height: auto;
    color: black;
}
{% endblock style %}

{% block content %}

<div class="agent-main">
    
    
    
    <!-- Listing Section -->
    <div class="agent-body">
    <div id="listings" class="hidden">
        <h2>Create New Listing</h2>
        <form id="listingForm" enctype="multipart/form-data" method = 'POST' action = 'createPropertyListing'>
            <div class="form-group">
                <label for="name">Seller email:</label>
                <input type="email" id="name" name="sellerEmail" placeholder="Email address" required>
            </div>
            <div class="form-group">
                <label for="sellerName">Seller name:</label>
                <input type="text" id="sellerName" name="sellerName" required>
            </div>
            <div class="form-group">
                <label for="propertyType">Type of Property:</label>
                <select id="propertyType" name="type" required>
                    <option value="Condo">Condominium</option>
                    <option value="Landed">Landed</option>
                    <option value="HDB">HDB</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" id="address" name="address" required>
            </div>
            <div class="form-group">
                <label for="region">Region:</label>
                <select id="region" name="region" required>
                    <option value="North">North</option>
                    <option value="South">South</option>
                    <option value="East">East</option>
                    <option value="West">West</option>
                    <option value="Central">Central</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" value="0" step="100" min="1" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" required>
            </div>
            <div class="form-group">
                <label for="bedroom">Bedroom:</label>
                <input type="text" id="bedroom" name="bedroom" required>
            </div>
            <div class="form-group">
                <label for="bathroom">Bathroom:</label>
                <input type="text" id="bathroom" name="bathroom" required>
            </div>
            <button type="submit">Submit</button>
            <!-- error message here -->
            <div class="error-message">{{message}}</div>
        </form>
    </div>
    
</div>
</div>
{% endblock content %}

