{% extends "baseUserDashboard.html" %}

{% block style %}

.para {
    margin-top: 15%; /* Adjust the margin-top value */
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5%;
}

.column {
    flex: 0 0 20%;
    background-color: rgb(240, 239, 239);
    padding: 30px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px; /* Adjust the value to control the curvature */
    border: none; /* Add this line to remove the border */
    margin-top: 0;
}

.column img {
    max-width: 30%;
    height: auto;
    margin-bottom: 10px;
}

.column h4 {
    margin: 0;
    margin-bottom: 10px;
}


button[class="column"]:hover {
    background-color: white;
}


{% endblock style %}

{% block content %}

<div class="para">
    <p>Real Estate Agent</p>
</div>

<div class="container">
    <button class="column" onclick="window.location.href='/createPropertyListing'">
        <img src="{{ url_for('static', filename='search.png')}}" alt="Image">
        <h4>Create Property Listings</h4>
        <p>content</p>
    </button>

    <button class="column" method = "GET" action = "/viewPropertyListingPage">
        <img src="{{ url_for('static', filename='buyer.png')}}" alt="Image">
        <h4>View Property Listings</h4>
        <p>content</p>
    </button>
    

    <button class="column" onclick="window.location.href='agent.html'">
        <img src="{{ url_for('static', filename='seller.png')}}" alt="Image">
        <h4>Update Property Listings</h4>
        <p>content</p>
    </button>

    <button class="column" onclick="window.location.href='/deletePropertyListing'">
        <img src="{{ url_for('static', filename='seller.png')}}" alt="Image">
        <h4>Delete Property Listings</h4> 
        <p>content</p>
    </button>
    
    <button class="column" onclick="window.location.href='agent.html'">
        <img src="{{ url_for('static', filename='seller.png')}}" alt="Image">
        <h4>Search Property Listings</h4>
                <p>content</p>
    </button>
</div>
{% endblock content %}