{% extends "baseUserDashboard.html" %}

{% block style %}

.agent-main {
    position: absolute;
    margin: 50px;
}

.navbar {
    z-index: 10;
    width: 100%;
    top: 0;
    background-color: white;
}

.buyer-main {
    position: fixed;
    margin-top: 60px;
    z-index: 10;
    width: 100%;
    top: 0;
    padding-left: 45px;
    background-color: white;
}

.buyer-main p {
    font-size: 45px;
}

.profile-nav {
    font-size: 15px;
    margin-top: -20px;
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    max-width: fit-content;
    background-color: white;
}

.Pnav-item {
    font-weight: bold;
    padding: 10px 25px;
    cursor: pointer;
    width: 150px;
    text-align: center;
}

.Pnav-item.active {
    font-weight: normal;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.hidden {
    display: contents;
}

.buyer-body {
    display: flex;
    padding-left: 50px;
    align-items: left;
    flex-direction: column;
    padding-top: 250px;
    overflow-y: auto;
    max-height: calc(100vh - 250px);
    z-index: 1;
}

.listing-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.listing-card {
    position: relative;
    margin: 20px;
    width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.listing-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.listing-info .location-text {
    padding: 20px;
    font-size: 12px;
}

.listing-info h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.listing-bedrooms,
.listing-bathrooms {
display: flex;
align-items: center;
}

.listing-bedrooms img,
.listing-bathrooms img {
width: 50px; /* Adjust the width as needed */
height: auto; /* Maintain aspect ratio */
}

.title-delete{
    margin-top: 50px;
}
{% endblock style %}



{% block content %}

<div class="agent-main">
    <!-- Listing Section -->
    <div class="agent-body">
        <div id="listings" class="hidden">
            <h2 class="title-delete">Your Listings</h2>
            <div id="messages">
                <strong><p>{{message}}</p></strong>
            </div>
            <div class="listing-cards">
                <!-- star from here for loop -->
                {% for property in propertyListing %}
                <div class="listing-card">
                    <div class="listing-info">
                        <h3 class="listing-name">{{ property.propertyName }}</h3>
                        <h4 class="listing-price" style="color: darkgreen;">${{ property.price }}</h4>
                        <div class="listing-address">
                            <p>Address: {{ property.address }}</p>
                        </div>
                        <div class="listing-type">
                            <p>Type: {{ property.type }}</p>
                        </div>
                        <div class="listing-region">
                            <p>Region: {{ property.region }}</p>
                        </div>
                        <div class="listing-description">
                            <p>Description: {{ property.description }}</p>
                        </div>
                        <div class="listing-seller">
                            <p>Seller/Agent: {{ property.agent }}</p>
                        </div>
                        <div class="listing-bedrooms">
                            <img src="{{ url_for('static', filename='bedroom.png') }}" alt="Bedroom"> <span>: {{ property.bedroom }}</span>
                        </div>
                        <div class="listing-bathrooms">
                            <img src="{{ url_for('static', filename='bathroom.png') }}" alt="Bathroom"> <span>: {{ property.bathroom }}</span>
                        </div>
                        <div class="listing-views">
                            <p>Total Views: {{ property.totalviews }}</p>
                        </div>
                        <div class="listing-saved">
                            <p>Shortlisted: <span class="save-count">{{ property.shortlisted }}</span></p>
                        </div>
                        <form action="/deletePropertyListing" method="post">
                            <input type="hidden" name="address" value="{{property.address}}">
                            <button class="delete-btn" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
