<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile List</title>
</head>
<body>
    <h1>User Profile List</h1>
    <table border="1">
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Status</th>            
            <th>description</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            {% if user.profile %}
            <td>{{ user.profile.name }}</td>     
            <td>{{ user.profile.status }}</td>        
            <td>{{ user.profile.description }}</td>

            {% else %}
            <td></td>
            <td></td>
            <td></td>
            {% endif %}
            <td>
                <a href="/edit/{{ user.email }}">Edit</a> | 
                <form action="/delete/{{ user.email }}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/create">Create New User Profile</a>
</body>
</html>
