{% extends "baseAdmin.html" %}


{% block content %}
<div class="user-account-option">
    <div class="user-account-title">
        <u><p>User Profile</p></u>
    </div>
    <div class="user-account-buttons">
        <button onclick="location.href='/createUserProfile'">Create User Profile</button>
        <button onclick="location.href='/viewUserProfile'">View User Profile</button>
        <button onclick="location.href='/updateUserProfile'">Update User Profile</button>
        <button onclick="location.href='/suspendUserProfile'">Suspend User Profile</button>
        <button onclick="location.href='/searchUserProfile'">Search User Profile</button>
    </div>
</div>
{% endblock content %}
